/* Configuramos el fondo y la letra */
body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* El contenedor principal de la app */
.container {
    background: rgba(0, 0, 0, 0.966);
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
    max-width: 400px;
    width: 100%;
}

h2 {
    color: #ffffff;
    text-align: center;
    font-size: 1.5rem;
}

/* Estilo para los textos encima de los cuadritos */
label {
    font-weight: bold;
    color: #ffffff;
    display: block;
    margin-bottom: 5px;
}

/* Estilo para los cuadros de texto e inputs */
input {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-sizing: border-box; /* Para que el padding no lo ensanche */
    font-size: 16px; /* Evita que el iPhone haga zoom automático */
}

/* El botón principal */
button {
    width: 100%;
    padding: 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background-color: #0056b3;
}

/* El área de resultados */
#resultado {
    margin-top: 20px;
    padding: 15px;
    border-radius: 8px;
    background-color: #e9f5ff;
}
/*fondo de apliacion*/
body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), 
                      url('pintuexpress.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    color: #ffffff;
    margin: 0;
    min-height: 100vh;
}

/* Contenedor de la tabla */
.container-tabla {
    background: rgba(14, 14, 14, 0);
    padding: 20px;
    border-radius: 15px;
    margin-top: 20px;
    width: 100%;
    max-width: 400px;
    overflow-x: auto; /* Por si la tabla es muy ancha para el cel */
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 15px;
}

th, td {
    text-align: left;
    padding: 10px;
    border-bottom: 1px solid #ffffff;
    font-size: 14px;
}

th {
    background-color: #007bff;
    color: white;
}

#resumenMensual {
    background: #28a745;
    color: white;
    padding: 10px;
    border-radius: 8px;
    text-align: center;
}